@media (min-width: 768px) {

    /* Display  */
     
    .md_dp-flex { display: flex !important}
    .md_dp-none { display: none !important}
    .md_dp-block { display: block !important}
    
    /* Position */
    
    .md_pos-fixed { position: fixed !important}
    .md_pos-absolute { position: absolute !important}
    .md_pos-relative { position: relative !important}
    
    
    /* Position Angle */
    
    .md_top-left { top: 0 !important; left: 0 !important;}
    .md_top-right { top: 0 !important; right: 0 !important;}
    
    .md_bottom-left { bottom: 0 !important; left: 0 !important;}
    .md_bottom-right { bottom: 0 !important; right: 0 !important;}
    
    .md_center { 
      top: 50% !important; left: 50% !important; 
      transform: translate(-50%, -50%) !important;
    }
    
    
    /* Flex Attr */
    
    .md_fd-c { flex-direction: column !important;}
    .md_fd-r { flex-direction: row !important;}
    
    .md_fw-w { flex-wrap: wrap !important;}
    
    .md_jc-c { justify-content: center !important}
    .md_jc-sb { justify-content: space-between !important}
    .md_jc-sa { justify-content: space-around !important}
    .md_jc-se { justify-content: space-evenly !important}
    
    .md_ai-c { align-items: center !important}
    .md_ai-fe { align-items: flex-end !important}
    .md_ai-fs { align-items: flex-start !important}
    
    .md_as-c { align-self: center !important}
    .md_as-fe { align-self: flex-end !important}
    .md_as-fs { align-self: flex-start !important}
    
    
    /* Text */
    
    .md_ta-c { text-align: center !important}
    .md_ta-l { text-align: left !important}
    .md_ta-r { text-align: right !important}
    
    .md_tt-n { text-transform: none !important}
    .md_tt-l { text-transform: lowercase !important}
    .md_tt-u { text-transform: uppercase !important}
    .md_tt-c { text-transform: capitalize !important}
    
    .md_bold {   letter-spacing: 1.1px; font-weight: bold !important}
    
    .md_underline { text-decoration: underline !important}
    
    .md_underline-col { 
        text-decoration: underline !important; 
        text-decoration-color: var(--col) !important;
    }
    
    .md_tsh { text-shadow: 1px 1px 0 var(--black); }
    
    
    /* Misc */
    
    .md_o-hide { overflow: hidden !important}
    .md_oy-scroll { overflow-y: scroll !important}
    .md_ox-scroll { overflow-x: scroll !important}
    
    
    /* Opacity */
    
    .md_o-9 { opacity: 0.9 }
    .md_o-8 { opacity: 0.8 }
    .md_o-7 { opacity: 0.7 }
    .md_o-6 { opacity: 0.6 }
    .md_o-5 { opacity: 0.5 }
    .md_o-4 { opacity: 0.4 }
    .md_o-3 { opacity: 0.3 }
    .md_o-2 { opacity: 0.2 }
    .md_o-1 { opacity: 0.1 }
    .md_o-0 { opacity: 0 }
    
    
    /* Z-Index */
    
    
    .md_zi-2 { z-index: 2 !important }
    .md_zi-3 { z-index: 3 !important }
    .md_zi-4 { z-index: 4 !important }
    .md_zi-5 { z-index: 5 !important }
    .md_zi-6 { z-index: 6 !important }
    .md_zi-7 { z-index: 7 !important }
    .md_zi-8 { z-index: 8 !important }
    .md_zi-9 { z-index: 9 !important }
    .md_zi-10 { z-index: 10 !important }
    .md_zi-20 { z-index: 20 !important }
    .md_zi-30 { z-index: 30 !important }
    .md_zi-40 { z-index: 40 !important }
    .md_zi-50 { z-index: 50 !important }
    .md_zi-60 { z-index: 60 !important }
    .md_zi-70 { z-index: 70 !important }
    .md_zi-80 { z-index: 80 !important }
    .md_zi-90 { z-index: 90 !important }
    .md_zi-100 { z-index: 100 !important }
    
    
    
    /* Boxes */
    
    .md_bdrs {
      -webkit-border-radius: 0.375em !important;
      -moz-border-radius: 0.375em !important;
      border-radius: 0.375em !important; 
    }
    .md_bdrs_bl {
      -webkit-border-bottom-left-radius: 0.375em !important;
      -moz-border-bottom-left-radius: 0.375em !important;
      border-bottom-left-radius: 0.375em !important; 
    }
    .md_bdrs_br {
      -webkit-border-bottom-right-radius: 0.375em !important;
      -moz-border-bottom-right-radius: 0.375em !important;
      border-bottom-right-radius: 0.375em !important; 
    }
    .md_bdrs_tl {
      -webkit-border-top-left-radius: 0.375em !important;
      -moz-border-top-left-radius: 0.375em !important;
      border-top-left-radius: 0.375em !important; 
    }
    .md_bdrs_tr {
      -webkit-border-top-right-radius: 0.375em !important;
      -moz-border-top-right-radius: 0.375em !important;
      border-top-right-radius: 0.375em !important; 
    }
    .md_bdrs-md {
      -webkit-border-radius: 0.5em !important;
      -moz-border-radius: 0.5em !important;
      border-radius: 0.5em !important; 
    }
    .md_bdrs-lg {
      -webkit-border-radius: 0.785em !important;
      -moz-border-radius: 0.785em !important;
      border-radius: 0.785em !important; 
    }
    .md_bdrs-circle {
      border-radius: 50% !important;
      overflow: hidden !important;
    }
    .md_bdrs-pill {
      border-radius: 50em !important;
    }
    
    .md_bxsh-n { box-shadow: none !important}
    .md_bx-sh { box-shadow: 0 0 2px var(--black) !important}
    .md_bx-sh-2 { box-shadow: 0 0 4px var(--black) !important}
    .md_bx-sh-col { box-shadow: 0 0 2px var(--col) !important}
    .md_bx-sh-2-col { box-shadow: 0 0 4px var(--col) !important}
    
    .md_bd-0 { border: 0 !important }
    
    .md_bd-1 { border: 1px solid var(--black) !important}
    .md_bd-2 { border: 2px solid var(--black) !important}
    .md_bd-5 { border: 5px solid var(--black) !important}
    
    .md_bd-1-col { border: 1px solid var(--col) !important}
    .md_bd-2-col { border: 2px solid var(--col) !important}
    .md_bd-5-col { border: 5px solid var(--col) !important}
    
    .md_bd-1-red { border: 1px solid var(--red) !important}
    .md_bd-2-red { border: 2px solid var(--red) !important}
    .md_bd-5-red { border: 5px solid var(--red) !important}
    
    .md_bd-1-green { border: 1px solid var(--green) !important}
    .md_bd-2-green { border: 2px solid var(--green) !important}
    .md_bd-5-green { border: 5px solid var(--green) !important}
    
    
    /* Padding */
    
    .md_p-0 { padding: 0 !important}
    
    .md_p-1 { padding: 0.25rem !important}
    .md_p-2 { padding: 0.5rem !important}
    .md_p-3 { padding: 1rem !important}
    .md_p-4 { padding: 1.5rem !important}
    .md_p-5 { padding: 2rem !important}
    .md_p-6 { padding: 3rem !important}
    
    .md_pt-0 { padding-top: 0 !important}
    .md_pt-1 { padding-top: 0.25rem !important}
    .md_pt-2 { padding-top: 0.5rem !important}
    .md_pt-3 { padding-top: 1rem !important}
    .md_pt-4 { padding-top: 1.5rem !important}
    .md_pt-5 { padding-top: 2rem !important}
    .md_pt-6 { padding-top: 3rem !important}
    
    .md_pb-0 { padding-bottom: 0 !important}
    .md_pb-1 { padding-bottom: 0.25rem !important}
    .md_pb-2 { padding-bottom: 0.5rem !important}
    .md_pb-3 { padding-bottom: 1rem !important}
    .md_pb-4 { padding-bottom: 1.5rem !important}
    .md_pb-5 { padding-bottom: 2rem !important}
    .md_pb-6 { padding-bottom: 3rem !important}
    
    .md_pl-0 { padding-left: 0 !important}
    .md_pl-1 { padding-left: 0.25rem !important}
    .md_pl-2 { padding-left: 0.5rem !important}
    .md_pl-3 { padding-left: 1rem !important}
    .md_pl-4 { padding-left: 1.5rem !important}
    .md_pl-5 { padding-left: 2rem !important}
    .md_pl-6 { padding-left: 3rem !important}
    
    .md_pr-0 { padding-right: 0 !important}
    .md_pr-2 { padding-right: 0.5rem !important}
    .md_pr-3 { padding-right: 1rem !important}
    .md_pr-4 { padding-right: 1.5rem !important}
    .md_pr-5 { padding-right: 2rem !important}
    .md_pr-6 { padding-right: 3rem !important}
    
    .md_plr-0 { padding-left: 0 !important; padding-right: 0 !important}
    .md_plr-1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important}
    .md_plr-2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important}
    .md_plr-3 { padding-left: 1rem !important; padding-right: 1rem !important}
    .md_plr-4 { padding-left: 1.5rem !important; padding-right: 1.5rem !important}
    .md_plr-5 { padding-left: 2rem !important; padding-right: 2rem !important}
    .md_plr-6 { padding-left: 3rem !important; padding-right: 3rem !important}
    
    .md_pbt-0 { padding-top: 0 !important; padding-bottom: 0 !important}
    .md_pbt-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important}
    .md_pbt-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important}
    .md_pbt-3 { padding-top: 1rem !important; padding-bottom: 1rem !important}
    .md_pbt-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important}
    .md_pbt-5 { padding-top: 2rem !important; padding-bottom: 2rem !important}
    .md_pbt-6 { padding-top: 3rem !important; padding-bottom: 3rem !important}
    
    
    /* Margin */
    
    .md_m-auto { 
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .md_m-0 { margin: 0 !important}
    
    .md_m-1 { margin: 0.25rem !important}
    .md_m-2 { margin: 0.5rem !important}
    .md_m-3 { margin: 1rem !important}
    .md_m-4 { margin: 1.5rem !important}
    .md_m-5 { margin: 2rem !important}
    .md_m-6 { margin: 3rem !important}
    
    .md_mt-0 { margin-top: 0 !important}
    .md_mt-1 { margin-top: 0.25rem !important}
    .md_mt-2 { margin-top: 0.5rem !important}
    .md_mt-3 { margin-top: 1rem !important}
    .md_mt-4 { margin-top: 1.5rem !important}
    .md_mt-5 { margin-top: 2rem !important}
    .md_mt-6 { margin-top: 3rem !important}
    
    .md_mb-0 { margin-bottom: 0 !important}
    .md_mb-1 { margin-bottom: 0.25rem !important}
    .md_mb-2 { margin-bottom: 0.5rem !important}
    .md_mb-3 { margin-bottom: 1rem !important}
    .md_mb-4 { margin-bottom: 1.5rem !important}
    .md_mb-5 { margin-bottom: 2rem !important}
    .md_mb-6 { margin-bottom: 3rem !important}
    
    .md_ml-0 { margin-left: 0 !important}
    .md_ml-1 { margin-left: 0.25rem !important}
    .md_ml-2 { margin-left: 0.5rem !important}
    .md_ml-3 { margin-left: 1rem !important}
    .md_ml-4 { margin-left: 1.5rem !important}
    .md_ml-5 { margin-left: 2rem !important}
    .md_ml-6 { margin-left: 3rem !important}
    
    .md_mr-0 { margin-right: 0 !important}
    .md_mr-1 { margin-right: 0.25rem !important}
    .md_mr-2 { margin-right: 0.5rem !important}
    .md_mr-3 { margin-right: 1rem !important}
    .md_mr-4 { margin-right: 1.5rem !important}
    .md_mr-5 { margin-right: 2rem !important}
    .md_mr-6 { margin-right: 3rem !important}
    
    .md_mlr-0 { margin-left: 0 !important; margin-right: 0 !important}
    .md_mlr-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important}
    .md_mlr-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important}
    .md_mlr-3 { margin-left: 1rem !important; margin-right: 1rem !important}
    .md_mlr-4 { margin-left: 1.5rem !important; margin-right: 1.5rem !important}
    .md_mlr-5 { margin-left: 2rem !important; margin-right: 2rem !important}
    .md_mlr-6 { margin-left: 3rem !important; margin-right: 3rem !important}
    
    .md_mbt-0 { margin-top: 0 !important; margin-bottom: 0 !important}
    .md_mbt-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important}
    .md_mbt-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important}
    .md_mbt-3 { margin-top: 1rem !important; margin-bottom: 1rem !important}
    .md_mbt-4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important}
    .md_mbt-5 { margin-top: 2rem !important; margin-bottom: 2rem !important}
    .md_mbt-6 { margin-top: 3rem !important; margin-bottom: 3rem !important}
    
    
    /* Font Size */
    
    .md_fs-1 { font-size: calc(1.375rem + 1.5vw) !important}
    .md_fs-2 { font-size: calc(1.325rem + 0.9vw) !important}
    .md_fs-3 { font-size: calc(1.3rem + 0.6vw) !important}
    .md_fs-4 { font-size: calc(1.275rem + 0.3vw) !important}
    .md_fs-5 { font-size: 1.25rem !important}
    .md_fs-6 { font-size: 1rem !important}
    .md_fs-7 { font-size: 0.7rem !important}
    
    @media (min-width: 769px) {
      .fs-1 { font-size: 2rem !important}
      .fs-2 { font-size: 1.75rem !important}
      .fs-3 { font-size: 1.5rem !important}
      .fs-4 { font-size: calc(1.3rem + 0.3vw) !important}
    }
    
    @media (min-width: 1024px) {
      .fs-1 { font-size: 2.5rem !important}
      .fs-2 { font-size: 2rem !important}
      .fs-3 { font-size: 1.75rem !important}
      .fs-4 { font-size: 1.5rem !important}
    }
    
    
    /* Width */
    
    .md_w-100 { width: 100% !important}
    .md_w-95 { width: 95% !important}
    .md_w-90 { width: 90% !important}
    .md_w-85 { width: 85% !important}
    .md_w-80 { width: 80% !important}
    .md_w-75 { width: 75% !important}
    .md_w-70 { width: 70% !important}
    .md_w-65 { width: 65% !important}
    .md_w-60 { width: 60% !important}
    .md_w-55 { width: 55% !important}
    .md_w-50 { width: 50% !important}
    .md_w-45 { width: 45% !important}
    .md_w-40 { width: 40% !important}
    .md_w-35 { width: 35% !important}
    .md_w-30 { width: 30% !important}
    .md_w-25 { width: 25% !important}
    .md_w-20 { width: 20% !important}
    .md_w-15 { width: 15% !important}
    .md_w-10 { width: 10% !important}
    .md_w-5 { width: 5% !important}
    
    .md_w-100vw { width: 100vw !important}
    .md_w-95vw { width: 95vw !important}
    .md_w-90vw { width: 90vw !important}
    .md_w-85vw { width: 85vw !important}
    .md_w-80vw { width: 80vw !important}
    .md_w-75vw { width: 75vw !important}
    .md_w-70vw { width: 70vw !important}
    .md_w-65vw { width: 65vw !important}
    .md_w-60vw { width: 60vw !important}
    .md_w-55vw { width: 55vw !important}
    .md_w-50vw { width: 50vw !important}
    .md_w-45vw { width: 45vw !important}
    .md_w-40vw { width: 40vw !important}
    .md_w-35vw { width: 35vw !important}
    .md_w-30vw { width: 30vw !important}
    .md_w-25vw { width: 25vw !important}
    .md_w-20vw { width: 20vw !important}
    .md_w-15vw { width: 15vw !important}
    .md_w-10vw { width: 10vw !important}
    .md_w-5vw { width: 5vw !important}
    
    .md_mxw-50 { max-width: 50px !important}
    .md_mxw-100 { max-width: 100px !important}
    .md_mxw-150 { max-width: 150px !important}
    .md_mxw-200 { max-width: 200px !important}
    .md_mxw-250 { max-width: 250px !important}
    .md_mxw-300 { max-width: 300px !important}
    .md_mxw-350 { max-width: 350px !important}
    .md_mxw-400 { max-width: 400px !important} 
    .md_mxw-450 { max-width: 450px !important}
    .md_mxw-500 { max-width: 500px !important}
    .md_mxw-550 { max-width: 550px !important}
    .md_mxw-600 { max-width: 600px !important}
    .md_mxw-650 { max-width: 650px !important}
    .md_mxw-700 { max-width: 700px !important}
    .md_mxw-750 { max-width: 750px !important}
    .md_mxw-800 { max-width: 800px !important}
    .md_mxw-850 { max-width: 850px !important}
    .md_mxw-900 { max-width: 900px !important} 
    .md_mxw-950 { max-width: 950px !important}
    .md_mxw-1000 { max-width: 1000px !important}
    .md_mxw-1100 { max-width: 1100px !important}
    .md_mxw-1200 { max-width: 1200px !important}
    .md_mxw-1300 { max-width: 1300px !important}
    .md_mxw-1400 { max-width: 1400px !important}
    .md_mxw-1500 { max-width: 1500px !important}
    .md_mxw-1600 { max-width: 1600px !important}
    .md_mxw-1700 { max-width: 1700px !important}
    .md_mxw-1800 { max-width: 1800px !important}
    .md_mxw-1900 { max-width: 1900px !important}
    .md_mxw-2000 { max-width: 2000px !important}
      
    
    .md_w-10px { width: 10px !important}
    .md_w-20px { width: 20px !important}
    .md_w-30px { width: 30px !important}
    .md_w-40px { width: 40px !important}
    .md_w-50px { width: 50px !important}
    .md_w-100px { width: 100px !important}
    .md_w-150px { width: 150px !important}
    .md_w-200px { width: 200px !important}
    .md_w-250px { width: 250px !important}
    .md_w-300px { width: 300px !important}
    .md_w-350px { width: 350px !important}
    .md_w-400px { width: 400px !important} 
    .md_w-450px { width: 450px !important}
    .md_w-500px { width: 500px !important}
    .md_w-550px { width: 550px !important}
    .md_w-600px { width: 600px !important}
    .md_w-650px { width: 650px !important}
    .md_w-700px { width: 700px !important}
    .md_w-750px { width: 750px !important}
    .md_w-800px { width: 800px !important}
    .md_w-850px { width: 850px !important}
    .md_w-900px { width: 900px !important} 
    .md_w-950px { width: 950px !important}
    .md_w-1000px { width: 1000px !important}
    .md_w-1100px { width: 1100px !important}
    .md_w-1200px { width: 1200px !important}
    .md_w-1300px { width: 1300px !important}
    .md_w-1400px { width: 1400px !important}
    .md_w-1500px { width: 1500px !important}
    .md_w-1600px { width: 1600px !important}
    .md_w-1700px { width: 1700px !important}
    .md_w-1800px { width: 1800px !important}
    .md_w-1900px { width: 1900px !important}
    .md_w-2000px { width: 2000px !important}


/* Height */

    .md_h-100 { height: 100% !important}
    .md_h-95 { height: 95% !important}
    .md_h-90 { height: 90% !important}
    .md_h-85 { height: 85% !important}
    .md_h-80 { height: 80% !important}
    .md_h-75 { height: 75% !important}
    .md_h-70 { height: 70% !important}
    .md_h-65 { height: 65% !important}
    .md_h-60 { height: 60% !important}
    .md_h-55 { height: 55% !important}
    .md_h-50 { height: 50% !important}
    .md_h-45 { height: 45% !important}
    .md_h-40 { height: 40% !important}
    .md_h-35 { height: 35% !important}
    .md_h-30 { height: 30% !important}
    .md_h-25 { height: 25% !important}
    .md_h-20 { height: 20% !important}
    .md_h-15 { height: 15% !important}
    .md_h-10 { height: 10% !important}
    .md_h-5 { height: 5% !important}

    .md_h-100vh { height: 100vh !important}
    .md_h-95vh { height: 95vh !important}
    .md_h-90vh { height: 90vh !important}
    .md_h-85vh { height: 85vh !important}
    .md_h-80vh { height: 80vh !important}
    .md_h-75vh { height: 75vh !important}
    .md_h-70vh { height: 70vh !important}
    .md_h-65vh { height: 65vh !important}
    .md_h-60vh { height: 60vh !important}
    .md_h-55vh { height: 55vh !important}
    .md_h-50vh { height: 50vh !important}
    .md_h-45vh { height: 45vh !important}
    .md_h-40vh { height: 40vh !important}
    .md_h-35vh { height: 35vh !important}
    .md_h-30vh { height: 30vh !important}
    .md_h-25vh { height: 25vh !important}
    .md_h-20vh { height: 20vh !important}
    .md_h-15vh { height: 15vh !important}
    .md_h-10vh { height: 10vh !important}
    .md_h-5vh { height: 5vh !important}

    .md_mxh-50 { max-height: 50px !important}
    .md_mxh-100 { max-height: 100px !important}
    .md_mxh-150 { max-height: 150px !important}
    .md_mxh-200 { max-height: 200px !important}
    .md_mxh-250 { max-height: 250px !important}
    .md_mxh-300 { max-height: 300px !important}
    .md_mxh-350 { max-height: 350px !important}
    .md_mxh-400 { max-height: 400px !important} 
    .md_mxh-450 { max-height: 450px !important}
    .md_mxh-500 { max-height: 500px !important}
    .md_mxh-550 { max-height: 550px !important}
    .md_mxh-600 { max-height: 600px !important}
    .md_mxh-650 { max-height: 650px !important}
    .md_mxh-700 { max-height: 700px !important}
    .md_mxh-750 { max-height: 750px !important}
    .md_mxh-800 { max-height: 800px !important}
    .md_mxh-850 { max-height: 850px !important}
    .md_mxh-900 { max-height: 900px !important} 
    .md_mxh-950 { max-height: 950px !important}
    .md_mxh-1000 { max-height: 1000px !important}
    .md_mxh-1100 { max-height: 1100px !important}
    .md_mxh-1200 { max-height: 1200px !important}
    .md_mxh-1300 { max-height: 1300px !important}
    .md_mxh-1400 { max-height: 1400px !important}
    .md_mxh-1500 { max-height: 1500px !important}

    .md_h-10px { height: 10px !important}
    .md_h-20px { height: 20px !important}
    .md_h-30px { height: 30px !important}
    .md_h-40px { height: 40px !important}
    .md_h-50px { height: 50px !important}
    .md_h-100px { height: 100px !important}
    .md_h-150px { height: 150px !important}
    .md_h-200px { height: 200px !important}
    .md_h-250px { height: 250px !important}
    .md_h-300px { height: 300px !important}
    .md_h-350px { height: 350px !important}
    .md_h-400px { height: 400px !important} 
    .md_h-450px { height: 450px !important}
    .md_h-500px { height: 500px !important}
    .md_h-550px { height: 550px !important}
    .md_h-600px { height: 600px !important}
    .md_h-650px { height: 650px !important}
    .md_h-700px { height: 700px !important}
    .md_h-750px { height: 750px !important}
    .md_h-800px { height: 800px !important}
    .md_h-850px { height: 850px !important}
    .md_h-900px { height: 900px !important} 
    .md_h-950px { height: 950px !important}
    .md_h-1000px { height: 1000px !important}
    .md_h-1100px { height: 1100px !important}
    .md_h-1200px { height: 1200px !important}
    .md_h-1300px { height: 1300px !important}
    .md_h-1400px { height: 1400px !important}
    .md_h-1500px { height: 1500px !important}
    .md_h-1600px { height: 1600px !important}
    .md_h-1700px { height: 1700px !important}
    .md_h-1800px { height: 1800px !important}
    .md_h-1900px { height: 1900px !important}
    .md_h-2000px { height: 2000px !important}

    }